/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* @import url("blocks.css");
@import url("media.css"); */

@import url("../fonts/stylesheet.css");
@import url("../fonts/font.css");
:root {
    --main-bg-color: #ECF6FB;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Seravek;
}
.overlay {
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.25);
}
.container {
    max-width: 1680px;
    margin: 0 auto;
}
.logo-intext {
    width: 106px;
    margin: 0 20px;
}
.input {
    height: 47px;
    padding-left: 24px;
    font-family: Seravek;
    font-style: italic;
    font-size: 16px;
    background: none;
    border: 1px solid white;
    color: white;
    outline-color: #FFA001;
    border-radius: 5px;
    width: 100%;
}
::-webkit-input-placeholder { /* Most modern browsers support this now. */
    color: white;
}
::-moz-placeholder { /* Most modern browsers support this now. */
    color: white;
}
:-ms-input-placeholder { /* Most modern browsers support this now. */
    color: white;
}
::-ms-input-placeholder { /* Most modern browsers support this now. */
    color: white;
}
::placeholder { /* Most modern browsers support this now. */
    color: white;
}
.hint {
    font-size: 16px;
    color: #FFAA00;
}
.btn {
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
button {
    border: none;
    cursor: pointer;
}
.btn span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 15px;
}
.btn-modal {
    background-color: #FFA001;
    border-radius: 27px;
    font-size: 32px;
    font-weight: bold;
    color: #003B9F;
}
.btn-main {
    background-color: #FFA001;
    border-radius: 27px;
    font-size: 29px;
    font-weight: bold;
    color: white;
}
a {
    text-decoration: none;
}

.modal {
    position: relative;
    width: 817px;
    height: 654px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: var(--main-bg-color);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.modal__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}
.modal-header {
    padding: 25px;
    width: 100%;
    height: 445px;
    background: url("../img/lights.png");
    z-index: 11;
}
.modal-header img {
    width: 100%;
}
.modal-body {
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 8;
}
.modal-body__text {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 30px;
    color: white;
}
.modal-body__button {
}
.modal-wave {
    width: 100%;
    height: 264px;
    position: absolute;
    bottom: -60px;
    background: url("../img/wave.png") no-repeat;
    background-size: contain;
    z-index: 1;
}
.modal-footerbg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #00aeef;
    border-radius: 0 0 10px 10px;
}
.modal__close {
    position: absolute;
    right: 50%;
    top: -30px;
    width: 19px;
    height: 19px;
    cursor: pointer;
}
.modal__close img {
    width: 100%;
    height: 100%;
}


.header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
header {
    padding-top: 50px;
    margin-bottom: 50px;
}

.promo {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:  var(--main-bg-color);
    background: url("../img/main-bg.png") center center / cover no-repeat;
}
.title {
    font-family: Typo;
    font-size: 50px;
    font-weight: bold;
}
.promo__header {
    color: #003B9F;
}
.list__block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}
.block__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px;
}
.list__count {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: Typo;
    font-size: 35px;
    font-weight: normal;
    color: #003B9F;
    background-color: #B9EF7F;
    border-radius: 100%;
    border: 2px solid white;
    z-index: 8;
}
/* .list__title::before {
    content: "";
    position: absolute;
    right: 0;
    background-color: #003B9F;
} */
.promo__mobeil-man {
    display: none;
}
.mobile__content {
    display: none;
}
.tewave {
    position: absolute;
    height: 42px;
    background-color: #003B9F;
    border-radius: 100px;
}
.tewave:nth-child(1) {
    left: 25px;
    width: 150px;
}
.tewave:nth-child(2) {
    left: 20px;
    width: 150px;
    border: 3px solid #4EBDE5;
}
.list__title {
    position: relative;
    font-family: Seravek;
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
    color: white;
}
.list__text {
    font-family: Seravek;
    font-size: 20px;
    font-weight: 300;
    padding-left: 50px;
    color: #58595B;
}
.list__row {
    margin-bottom: 35px;
}
.list__row:last-child {
    margin-bottom: 0;
}
.list__row:nth-child(2n) {
    margin-bottom: 5px;
}
.promo-list {
    margin-top: 35px;
}
.block-list {
    width: 600px;
}
.block-img {
    width: 63%;
    z-index: 111;
}
.block-img img {
    width: 100%;
}
.promo__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.promo__footer {
    position: relative;
    width: 100%;
    background-color: #00aeef;
    color: white;
    padding-bottom: 75px;
}
.promo__footer-header {
    color: white;
}
.promo__footer .promo__block {
    width: 100%;
    z-index: 1111;
}
.promo__footer form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
}
.promo__footer-row {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.promo__footer .promo__block:first-child {
    padding-left: 66px;
    z-index: 1111;
}
.promo__footer .promo__block:last-child {
    padding-left: 120px;
    z-index: 1111;
}
.promo-form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.promo-form__row input {
    margin-bottom: 12px;
}
.promo-form__row:nth-child(2) input:first-child, .promo-form__row:nth-child(3) input:first-child {
    width: 54.5%;
}
.promo-form__row:nth-child(2) input:last-child, .promo-form__row:nth-child(3) input:last-child {
    width: 44%;
}
.promo-form__row:last-child input {
    width: 40%;
}

.promo__footer-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #00aeef;
}

.promo__footer-wave {
    position: absolute;
    width: 100%;
    height: 402px;
    top: -110px;
    background: url("../img/wave3.png") no-repeat;
    background-size: cover;
    z-index: 1;
}
.promo__footer-conditions {
    font-size: 20px;
}

.promo__footer-conditions {
    margin-top: 25px;
}
.conditions__item {
    margin-bottom: 10px;
}

.conditions__item:last-child {
    margin-bottom: 0;
}
.promo__footer-btn {
    width: 215px;
}

.promo__footer-hint {
    margin-left: 25px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    border: 2px solid white;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 76% 76%;
}
.custom-checkbox:checked+label::before {
    border-color: white;
    background-color: #003B9F;
    background-image: url("../img/chekin.png");
}
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #dbecff;
}
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #003B9F;
    border-color: white;
}
.custom-checkbox:focus+label::before {
    -webkit-box-shadow: 0 0 0 0.1rem white;
            box-shadow: 0 0 0 0.1rem white;
}
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: white;
}
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}



.switch {
    position: relative;
    display: inline-block;
    width: 94px;
    height: 36px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -6px;
    right: 7px;
    bottom: 0;
    background-color: #003B9F;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "ENG";
    height: 40px;
    width: 70px;
    left: -3px;
    bottom: -2px;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 25px;
}

input:checked + .slider {
    background-color: #003B9F;
}


input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 100px;
}

.slider.round:before {
    border-radius: 100px;
}

.congrats {
    width: 100%;
    height: 100vh;
    /* background-color:  var(--main-bg-color); */
    background: url("../img/secbg.png") center center / cover no-repeat;
}

.congrats__header {
    font-family: Typo;
    font-size: 80px;
    font-weight: bold;
    color: #003B9F;
}
.congrats__descr {
    font-size: 20px;
    font-family: Seravek;
    color: #58595B;
}
.congrats__code {
    margin: 80px 0;
    font-family: Seravek;
    font-weight: bold;
    font-size: 70px;
    color: #8CC640;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.congrats__code span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}
.btn-congrats {
    width: 340px;
    height: 42px;
    font-size: 25px;
    font-weight: bold;
    color:white;
    background-color: #003B9F;
    border-radius: 100px;
}
.congrats-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 80px;
}
.congrats__btn {
    margin-top: 95px;
}
    
.congrats-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-left: 170px;
}
.congrats__block-img {
    width: 584px;
    padding-top: 0;
}
.congrats__block-img img {
    width: 100%;
}
.congrats__share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.congrats__share span {
    margin-bottom: 10px;
    font-size: 20px;
    color: #58595B;
}
.congrats__share-socs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.congrats__share-socs a {
    margin-right: 25px;
}
.congrats__share-socs a:last-child {
    margin-right: 0;
}
.congrats__share-socs .soc  {
    width: 30px;
    height: 30px;
}
.congrats__share-socs .soc img  {
    width: 100%;
}

.promo__body {
    z-index: 1111111;
}


@media (min-width:1200px){
    
}
@media (max-width:992px){
   
    
}
@media (max-width:768px){
    
}
@media (max-width:576px){
    .btn {
        padding: 10px 15px;
    }
    .btn-modal {
        font-size: 20px;
    }
    .modal {
        width: 355px;
        height: 334px;

    }
    .modal-header {
        height: 195px;
        padding: 12px;
    }
    .modal-body {
        padding: 14px;
    }
    .modal-body__text {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .logo-intext {
        width: 68px;
        margin: 0 15px;
    }
    .modal-wave {
        height: 202px;
    }

    .container {
        padding: 0 15px;
    }
    .header {
        margin-bottom: 40px;
    }
    .promo::before {
        right: 35%;
        bottom: 0;
        background: url("../img/lights-mobile.png") no-repeat;
    }
    .promo__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-flow: column-reverse;
                flex-flow: column-reverse;
    }
    .promo__header {
        width: auto;
    }
    .title {
        font-size: 40px;
        text-align: center;
    }
    .promo-list {
        /* width: 324px; */
        margin-top: 30px;
    }
    .list__row {
        margin-bottom: 20px;
    }
    .block-list {
        width: auto;
    }
    .promo__imd-wrapper img {
        display: none;
    }
    .block-img {
        width: 360px;
        height: 428px;
        background: url("../img/mobile-ph.png") center center / contain no-repeat;
    }
    .promo__body .container {
        background-color: var(--main-bg-color);
    }
    .promo form {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .promo__footer-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-flow: column-reverse;
                flex-flow: column-reverse;
    }
    .promo__row {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .slider:before  {
        width: 36px;
    }
    .logo {
        width: 80px;
    }
    .switch {
        width: 70px;
    }
    .promo__footer-wave {
        background: url("../img/wave-mobile.png") no-repeat;
        background-size: contain;
        top: -45px;
    }
    .promo-form__row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .promo__block {
        padding: 0 !important;
    }
    .input {
        width: 100% !important;
    }
    .promo__footer-conditions {
        font-size: 18px;
    }
    .promo__footer-hint {
        margin: 0;
        text-align: center;
        margin-bottom: 15px;
    }
    .promo__mobeil-man {
        display: block;
        margin-top: 90px;
        padding: 0 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .promo__mobeil-man img {
        width: 100%;
    }
    .promo__footer {
        padding: 0;
    }
    .promo__footer-bg {
        display: none;
    }
    .mobile__content {
        display: block;
        margin-bottom: 40px;
        z-index: 1111;
    }
    .non-mobile__content {
        display: none;
    }
    .promo__footer form {
        margin-top: 35px;
    }
    .promo__footer-conditions {
        margin-top: 18px;
    }

    .congrats {
        height: auto;
        background: url("../img/mobile-lights.png") center center / cover no-repeat;
        padding-bottom: 50px;
    }
    .congrats-row {
        padding: 0;
    }
    .congrats__header {
        font-size: 40px;
    }
    .congrats__descr {
        font-size: 20px;
    }
    .congrats__code {
        font-size: 60px;
    }
    .btn-congrats {
        width: 310px;
    }
    .congrats__btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .bgman {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 204px;
        height: 332px;
        margin-bottom: 0 !important;
        padding-top: 26px;
        z-index: 1;
    }
    .bgman img {
        width: 100%;
    }
    .congrats__btn a {
        z-index: 1111;
    }

}